@keyframes glow {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
        color: #0e3742;
        box-shadow: none;
    }
    18%, 20%, 30%, 50%, 60%, 65%, 80%, 90%, 92%, 100% {
        color: #fff;
        text-shadow: 0 0 10px #4aef57,
        0 0 20px #4aef57,
        0 0 40px #4aef57;
    }
}